/*bootstrap*/

.text-primary{
    color: #1718b0 !important;
}

.border-primary{
    border-color: #1718b0 !important;
}

.bg-primary{
    background-color: #4e2bdd !important;
}

.mobNavWrap{
    background-color: #1718b0;
    z-index: 10;
}

.toolMenu{
    background-color: #1718b0;
    color: #f5f5f5;
}

.card {
    z-index: -1;
}

.offcanvas-top{
    height: 100% !important;
}

/*------------*/

/*Botões*/

.btn{ 
    box-shadow: none !important;
}

.btn-outline-info{
    border: 1px solid #1718b0 !important;
    color: #1718b0 !important;
}

.btn-outline-info:hover{
    border: 1px solid #1718b0 !important;
    color: #1718b0 !important;
    background-color: #ffffff;
}

.btn-check:active+.btn-outline-info, .btn-check:checked+.btn-outline-info, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show, .btn-outline-info:active{
    background-color: #1718b0 !important;
    color: #ffffff !important;
}

.transparent{
    border: none !important;
    background-color: transparent !important;
}

.google-btn{
    color: #1718b0;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.btn-success{
    background-color: #1718b0;
}

.btn-info{
    background-color: #4e2bdd;
}

.white-button:hover {
    background-color: #8d8d8d !important;
}

button.active{
    background-color: #1718b0 !important;
    color: #f5f5f5 !important;
}

button.nav-link{
    color: #1718b0;
}


/*------*/

/*classes e ids custom*/


#theory-nav{
    margin-left: 7.5rem;;
}

.upload-icon {
    font-size: 100px !important;
}

.progress-bar {
    background-color: #1718b0;
}

#volume-bar {
    background-color: #1718b0;
}

.fixed-bottom#player {
    z-index: 1000 !important;
}

#volume_up, #volume_off {
    margin-left: 2px;
}


#upload_song_icon{
    font-size: 16vh !important;
}

.drop-zone{
    border: 4px dashed #ffffff;
}

.drop-zone-border{
    border: 4px dashed #1718b0 !important;
}

#time {
    font-size: 90%;
}

#controler .material-icons.skip {
    font-size: 6vh;
}

#controler .material-icons.play {
    font-size: 8.5vh;
}

.clickable:hover {
    cursor: pointer;
}

.black-hover:hover {
    color: black !important;
}

#add_song_icon {
    font-size: 3.5vh;
    padding-bottom: 2px;
}

.add_button:hover {
    background-color: #e4e4e4;
}

#player .modal-content {
    border: 1px solid rgb(211, 211, 214) !important;
    border-radius: 10px 10px 0 0;
}

#player-song-cover {
    width: 100%;
}

#player > div {
    width: 40vh;
}

#mainContainer{
    padding-top: 70px;
    margin-left: 120px;
    width: 88%;
}

#formLog{
    border: #383846 !important;
}

#avIcon{
    border-color: #4e2bdd !important;
    width: 12%;
}

#wrapper{
    width: 7.5rem;
    padding-top: 100px;
    height: 100vh;
    background-color: #1718b0;
}



#wrapper li:hover, #tools:hover {
    background-color: #4e2bdd !important;
}

.purple{
    color: #1718b0 !important;
}

.grayIcon {
    color: #9393ad !important;
}

.whiteIcon{
    color: #ffffff !important;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

#logo{
    width: 56px;
    height: auto;
}

a{
    text-decoration: none;
}

.autocomplete{
    position: relative;
}

@media only screen and (max-width: 576px) {
    #mainContainer{
        width: 100%;
    }
}

/*-------------------*/

/*nav-tabs*/

.nav-tabs{
    border: none;
}

.nav-tabs > button{
    border: none !important;
}

.nav-tabs > button:hover{
    color: #5656f3;
}

/*--------*/

/*Inputs*/

input[type="file"]{
    display:none;
}

textarea:focus  {
    box-shadow: 0 0 0 0.25rem rgba(33, 33, 230, 0.25) !important;
    border-color: #5656f3 !important;
}

.full-input {
    width:100%;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
  }
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #1718b0;
    box-shadow: #1718b0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }

#volume-bar {
    height: 3px;
}

#volume-bar::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
}

.underline_input input{
    border-style: none;
    border-bottom: 1px solid #b3b3cc !important;
    outline: none;
    line-height: 1.5;
}

.underline_input input:focus {
    border-bottom: 2px solid #1718b0 !important;
}

.underline_input label {
    margin-top: 13px;
}
  

  ​


/*-----*/

/*Links*/

a:link.classic-links {
    text-decoration: none;
}

a:hover.classic-links {
    text-decoration: underline;
}

/* NAVEGAÇÃO DA PÁGINA DE TEORIA MUSICAL - IMPORTADO DE UM EXEMPLO DO BOOTSTRAP */ 

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  color: rgb(114, 114, 114);
}

.btn-toggle-nav a:hover{
  background-color: rgb(238, 238, 238);
  color: rgb(114, 114, 114);
}

.btn-toggle-nav a.active {
    color: rgb(27, 27, 27);
    font-weight: 600;
}


.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/* tags input */

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

::selection{
  color: #fff;
  background: #5372F0;
}

.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}







